[submodule "yage"]
	path = yage
	url = git@github.com:MaxDaten/yage.git
[submodule "yage-core"]
	path = yage-core
	url = git@github.com:MaxDaten/yage-core.git
[submodule "yage-contrib"]
	path = yage-contrib
	url = git@github.com:MaxDaten/yage-contrib.git
[submodule "yage-examples"]
	path = yage-examples
	url = git@github.com:MaxDaten/yage-examples.git
[submodule "yage-research"]
	path = yage-research
	url = git@github.com:MaxDaten/yage-research.git
[submodule "yage-geometry"]
	path = yage-geometry
	url = git@github.com:MaxDaten/yage-geometry.git
