[submodule "yage"]
	path = yage
	url = git@github.com:MaxDaten/yage.git
[submodule "yage-core"]
	path = yage-core
	url = git@github.com:MaxDaten/yage-core.git
[submodule "yage-contrib"]
	path = yage-contrib
	url = git@github.com:MaxDaten/yage-contrib.git
[submodule "yage-examples"]
	path = yage-examples
	url = git@github.com:MaxDaten/yage-examples.git
[submodule "yage-geometry"]
	path = yage-geometry
	url = git@github.com:MaxDaten/yage-geometry.git
[submodule "typography-ft2"]
	path = typography-ft2
	url = git@github.com:MaxDaten/typography-ft2.git
[submodule "quine"]
	path = quine
	url = git@github.com:MaxDaten/quine.git
